.center-wrapper.login {
  background: url(../img/login-bg.jpg);
  background-size: cover;
}
.login img.users-logo {
  width: 190px;
}
.login input {
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  background-color: #ddd;
  opacity: 0.8;
}
.login input:focus {
  border: 1px solid #fff;
  box-shadow: inset 0 0 1px #6a9bfb;
}
.login input:focus + .input-group-addon.add-on {
  color: #4679f2;
}
.login .input-group-addon.add-on {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.login .login-btn {
  margin-top: 20px;
  color: #fff;
  border-radius: 5px;
  background: #8895aa;
  border: 1px solid #537bc0;
  box-shadow: inset 0px 0px 2px #ccc;
}
.login .login-btn:hover {
  background: #5e728f;
}
.login label.switch-text {
  vertical-align: top;
  color: #fff;
}
.main-panel > .main-content {
  margin-bottom: 40px;
}
footer.content-footer nav ul li a {
  padding: 10px;
}
.dash-header img {
  max-width: 100%;
}
.dash.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 768px) {
  .flex .col {
    width: 30%;
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .flex .col {
    width: 25%;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .flex .col {
    width: 13%;
    margin-top: 25px;
  }
}
.flex .col i {
  color: #bed1e1;
  font-size: 65px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.flex .col:hover i {
  color: #7e91a7;
}
.flex .col p {
  display: block;
}
.flex .col span.text {
  font-size: 14px;
  color: #7a8a97;
}
@media (max-width: 767px) {
  .sidebar-panel > nav {
    width: 105%;
  }
}
@-webkit-keyframes loading-bar {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 600px 0%;
  }
}
@keyframes loading-bar {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 600px 0%;
  }
}
.preloader::before {
  width: 100%;
  height: 4px;
  background-image: -webkit-repeating-linear-gradient(135deg, #14c3a2 0, #14c3a2 15px, #22e8c3 15px, #22e8c3 30px);
  background-image: repeating-linear-gradient(-45deg, #14c3a2 0, #14c3a2 15px, #22e8c3 15px, #22e8c3 30px);
  -webkit-animation: loading-bar 2s linear infinite;
          animation: loading-bar 2s linear infinite;
}
.modal {
  background: rgba(255, 255, 255, 0.08);
}
.modal.no-border .modal-dialog .modal-content {
  border-width: 0;
}
.modal-header.brtl {
  border-top-left-radius: 4px;
}
.modal-header.brtr {
  border-top-right-radius: 4px;
}
.modal-header.brbl {
  border-bottom-left-radius: 4px;
}
.modal-header.brbr {
  border-bottom-right-radius: 4px;
}
table.vm td {
  vertical-align: middle!important;
}
.btn {
  font-size: 14px;
}
footer.content-footer {
  height: auto;
}
.form-inline .input-group .ui-select-bootstrap > .form-control,
.form-inline .form-group .ui-select-bootstrap > .form-control,
.form-inline .input-group .ui-select-bootstrap > .ui-select-match > .form-control,
.form-inline .form-group .ui-select-bootstrap > .ui-select-match > .form-control {
  width: 100%;
}
.ui-select-bootstrap > .ui-select-choices,
.ui-select-bootstrap > .ui-select-no-choice {
  min-width: auto;
}
.ui-select-bootstrap > .ui-select-match > .btn {
  padding-right: 26px;
}
.ui-select-bootstrap.direction-up .ui-select-toggle > .caret {
  margin-top: -8px;
  border: 4px solid;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}
.ui-select-bootstrap > .ui-select-choices,
.ui-select-bootstrap > .ui-select-no-choice {
  margin-top: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  right: 9px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  right: 10px;
}
.date.has-feedback .form-control {
  padding-right: 33px;
}
.date.has-feedback .form-control-feedback {
  z-index: 3;
}
.form-inline .form-group > .form-control {
  width: 100%;
}
.nowrap {
  white-space: nowrap;
}
