<style>.tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }

    .tree-node-content {
        margin: 10px;
    }

    .tree-handle {
        padding: 10px;
        background: #428bca;
        color: #FFF;
        margin-right: 10px;
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }</style><script type="text/ng-template" id="nodes_renderer1.html"><div ui-tree-handle class="tree-node">
        <div class="tree-node-content">
            <div data-nodrag ng-show="!node.editing">
                <a class="btn btn-success btn-xs" data-nodrag ng-click="this.toggle()">
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></i>
                </a>
                {{node._id}}{{node.desc ? ' - ':''}} {{node.desc}}
                <a class="pull-right btn btn-danger btn-xs hint hint--right hint--error" data-nodrag ng-click="$ctrl.RemoveNode(this, node)" data-hint="删除">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a class="pull-right btn btn-success btn-xs hint hint--bottom hint--success" data-nodrag ng-click="node.needlogin = !node.needlogin" ng-show="!node.needlogin" style="margin-right: 8px;" data-hint="自由访问">
                    <i class="glyphicon glyphicon-cloud"></i>
                </a>
                <a class="pull-right btn btn-warning btn-xs hint hint--bottom hint--warning" data-nodrag ng-click="node.needlogin = !node.needlogin" ng-show="node.needlogin" style="margin-right: 8px;" data-hint="登录后访问">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
                <a class="pull-right btn btn-success btn-xs hint hint--bottom hint--success" data-nodrag ng-click="node.enable = !node.enable" ng-show="!node.enable" style="margin-right: 8px;" data-hint="启用节点">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                </a>
                <a class="pull-right btn btn-danger btn-xs hint hint--bottom hint--error" data-nodrag ng-click="node.enable = !node.enable" ng-show="node.enable" style="margin-right: 8px;" data-hint="停用节点">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </a>
                <a class="pull-right btn btn-primary btn-xs hint hint--bottom hint--info" data-nodrag ng-click="$ctrl.newSubItem(this)" style="margin-right: 8px;" data-hint="添加">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="pull-right btn btn-primary btn-xs hint hint--bottom hint--info" data-nodrag ng-click="node.editing = true" style="margin-right: 8px;" data-hint="编辑">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <span ng-show="node.authtype != undefined">
                    <a class="pull-right btn btn-xs hint hint--top hint--info" ng-class="{'btn-primary': node.authtype=='NONE', 'btn-default': node.authtye!='NONE'}" data-nodrag ng-click="node.authtype = 'NONE'" style="margin-right: 8px;" data-hint="无验证">
                        <i class="glyphicon glyphicon-log-in"></i>
                    </a>
                    <a class="pull-right btn btn-xs hint hint--top hint--info" ng-class="{'btn-primary': node.authtype=='BYAPPID', 'btn-default': node.authtye!='BYAPPID'}" data-nodrag ng-click="node.authtype = 'BYAPPID'" style="margin-right: 8px;" data-hint="APPID验证">
                        <i class="glyphicon glyphicon-tag"></i>
                    </a>
                </span>
            </div>
            <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="node.editing">
                <form class="form-inline" role="form">
                    <div class="row" style="display: inline; ">
                        <div class="col-xs-3">
                            <input type="text" class="form-control col-sm-3" placeholder="节点名称" ng-model="node._id" ng-show="node.isnew">
                            <input type="text" class="form-control col-sm-3" placeholder="节点名称" ng-model="node._id" ng-show="!node.isnew" disabled>
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control col-sm-3" placeholder="节点描述" ng-model="node.desc">
                        </div>
                        <button type="submit" class="btn btn-default btn-primary" ng-click="$ctrl.save(node)">保存</button>
                        <button type="submit" class="btn btn-default btn-primary" ng-click="$ctrl.cancelEditing(this, node)">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer1.html'" collapsed="true" ng-if="!collapsed"></li>
    </ol></script><div class="panel panel-default mb0 layout-column"><div class="panel-body flex-initial"><form class="form-inline pb10 bb"><div class="form-group"><a class="btn btn-primary" ng-click="$ctrl.doSave($event)">保存</a></div></form></div><div class="panel-body flex overflow-auto pt0 pb0"><div ui-tree id="urlpath-root"><ol ui-tree-nodes ng-model="$ctrl.urlpath"><li ng-repeat="node in $ctrl.urlpath" ui-tree-node ng-include="'nodes_renderer1.html'"></li></ol></div></div><div class="panel-body flex-initial pt0"></div></div>