<style>.tree-node {
        border: 1px solid #dae2ea;
        background: #f8faff;
        color: #7c9eb2;
    }

    .tree-node-content {
        margin: 10px;
    }

    .tree-handle {
        padding: 10px;
        background: #428bca;
        color: #FFF;
        margin-right: 10px;
    }</style><script type="text/ng-template" id="sensorSelect.html"><div class="modal-header">
        <button type="button" class="close" ng-click="Cancel()"><span>&times;</span></button>
        <h4 class="modal-title">选择添加的传感器</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline" ng-submit="searchSensor(true)">
            <input type="text" class="form-control" placeholder="关键字：ID或名称" ng-model="sensorSearchKey" ng-blur="searchSensor()">
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> 查询</button>
            <button type="button" class="btn btn-success pull-right" ng-click="selectAll()"><span class="glyphicon glyphicon-asterisk"></span>全选</button>
        </form>
        <div class="list-group mt15">
            <a href="javascript:void(0)" class="list-group-item" ng-class="{active:item.isEnable}" ng-click="switchSensor(item)" ng-repeat="item in viewOfSensors">
                <i class="glyphicon mt2" ng-class="{true:'text-white glyphicon-check',false:'text-muted glyphicon-unchecked'}[item.isEnable]"></i> {{item.title}}
            </a>
        </div>
        <uib-pagination class="pagination-sm no-margin" total-items="pagingCount" ng-model="currentPage" items-per-page="popPageSize" max-size="9" boundary-links="true" rotate="false" num-pages="numPages" previous-text="上页" next-text="下页" first-text="首页" last-text="末页"></uib-pagination>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="Submit()">确定</button>
        <button type="button" class="btn btn-warning" ng-click="Cancel()">取消</button>
    </div></script><script type="text/ng-template" id="customerNodesRenderer.html"><div class="tree-node">
        <div class="tree-node-content">
            <div ng-show="!node.editing">
                <a ng-show="node.type==='NODE'" class="btn btn-success btn-xs" data-nodrag ng-click="this.toggle()">
                    <i class="glyphicon" ng-class="{true:'glyphicon-chevron-right',false:'glyphicon-chevron-down'}[collapsed]"></i>
                </a>
                <a ng-show="node.type==='DEV'" class="btn btn-warning btn-xs" data-nodrag>
                    <i class="glyphicon glyphicon-record"></i>
                </a>
                <b ng-bind="node.title"></b>
                <div class="pull-right" ng-show="node.id&&node.id!=='OTHER'" data-nodrag>
                    <a ng-show="node.level>0 && node.originid && node.type==='NODE'" class="btn btn-warning btn-xs mr5" ng-click="collapsed&&this.toggle();sensor(node)">
                        <i class="glyphicon glyphicon-th"></i>
                    </a>
                    <a ng-show="node.type==='NODE'" class="btn btn-primary btn-xs mr5" ng-click="collapsed&&this.toggle();newNode(node)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <a ng-show="node.level>0" class="btn btn-primary btn-xs mr5" ng-click="editNode(node)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a ng-show="node.level>0" class="btn btn-danger btn-xs" ng-click="deleteNode(node,this)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
            <div class="group-title" data-nodrag ng-show="node.editing">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="社会属性名称" ng-model="node.title">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="saveNode(node)">保存</button>
                    <button type="submit" class="btn btn-default" ng-click="cancelEdit(node)">取消</button>
                </form>
            </div>
        </div>
    </div>
    <ol ng-model="node.nodes" ui-tree-nodes ng-class="{hidden:collapsed}">
        <li ng-if="!collapsed" ng-repeat="node in node.nodes" ng-include="'customerNodesRenderer.html'" ui-tree-node collapsed="true"></li>
    </ol></script><div class="panel panel-default"><div class="panel-body"><div ui-tree id="customer-root"><ol ui-tree-nodes ng-model="viewOfCustomer"><li ng-repeat="node in viewOfCustomer" ui-tree-node ng-include="'customerNodesRenderer.html'" collapsed="false" ng-if="!collapsed"></li></ol></div></div></div>